@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
    font-family: 'Montserrat', sans-serif;
"
}
a{
  text-decoration: none;
}

/* ===========================================
navbar Section Start
======================================= */
nav{
  background-color: black;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  
  text-transform: uppercase;
  text-decoration: none;
}
label img {
	width: 50px;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (min-width: 952px){
  .mobile-svg{
    background-color: black;
    margin: 0;
    display: none;
  }
}
@media (max-width: 858px){
  .mobile-svg img{
    text-align: center;
    width: 50px;
    
    
  }
  .hero-heading , .hero-para , .btn{
    text-align: center;
  }
  .mobile-svg{
    background-color: black;
    margin: 0;
    dis
  }

  label.logo{

    display: none;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:black ;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #2596BE ;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
/* ===========================================
footer
======================================= */


footer {
  width: 100wh;
  height: auto;
  display: flex;
  line-height: 30px;
  justify-content: space-around;
  background-color: white;
}
.footer h3{
  font-size: 20px;
    font-weight: bold;

}


.footer {
  margin-top: 40px;
}
.span{
  display: none;
}

.policy {
  width: 100wh;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  
  color: #2596BE;
  font-size: 10px;
}
.footer h5 a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}


p{
  margin-right: 4%;
  margin-left: 4%;
  line-height: 20px;
  
}